@model Noticia.Models.Imagens

@{
    ViewData["Title"] = "Detalhes da Imagem";
}

<h1>Detalhes</h1>

<div>
    <h4>Imagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
           <img src="~/Imagens/@Model.Nome" alt="fotografia de @Model.Nome" title="@Model.Nome" height="300" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Legenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Legenda)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
