@model IEnumerable<Noticia.Models.NI>

@{
    ViewData["Title"] = "Index";
}

<h1>Associar imagens a notícias</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Noticias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagens)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noticias.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagens.Legenda)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  item.Noticiasid,  item.Imagensid }) |
                @Html.ActionLink("Details", "Details", new {  item.Noticiasid, item.Imagensid }) |
                @Html.ActionLink("Delete", "Delete", new {  item.Noticiasid,  item.Imagensid })
            </td>
        </tr>
}
    </tbody>
</table>
