@model Noticia.Models.Noticias

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<dt>
    <h4>Noticias</h4>
    <hr />
    <dl class="row">


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        @if (Model.ListaNT.Count == 0)
        {
        }
        else
        {
    <table class="table">
        <tr>Topicos</tr>
        <tr>
            @foreach (var topic in Model.ListaNT)
            {
                <td>
                    @topic.Topicos.Nome
                </td>
            }
        </tr>
    </table>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>

        @if (Model.ListaNI.Count == 0)
        {
        }
        else
        {
    <table class="table">
        <tr>Imagens</tr>
        <tr>
            @foreach (var img in Model.ListaNI)
            {
                <td>
                    <img src="~/Imagens/@img.Imagens.Nome" alt="fotografia de @img.Imagens.Nome" title="@img.Imagens.Nome" height="300" />
                    <br />
                    @img.Imagens.Legenda
                </td>
            }
        </tr>
    </table>
        }


        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corpo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corpo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data_De_Publicacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data_De_Publicacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visivel)
        </dd>
        <dt class="col-sm-2">
           Criador
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizadoresid.Nome)
        </dd>

    </dl>

    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
        <a asp-action="Index">Voltar</a>
    </div>
