@model Noticia.Models.Noticias

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Noticias</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Resumo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Corpo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Corpo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data_De_Publicacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data_De_Publicacao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizadoresid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Utilizadoresid.Email)
        </dd>

    </dl>
    <div>
        @if (Model.ListaNI.Count == 0)
        {

            <h4>
                Não há Imagens a apresentar<br />
            </h4>

        }
        else
        {

            <table class="table">
                @foreach (var img in Model.ListaNI)
                {
                    <tr>
                        <td>
                            <img src="~/Imagens/@img.Imagens.Nome" alt="fotografia de @img.Imagens.Nome" title="@img.Imagens.Nome" height="300" />
                            
                        </td>     
                        <td>@img.Imagens.Legenda</td> 
                    </tr>
                }

            </table>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
