@model IEnumerable<Noticia.Models.Noticias>

@{
    ViewData["Title"] = "Index";
}

<h1>Noticias</h1>
@if (User.IsInRole("Admin") || User.IsInRole("Gestor"))
{
    <p>
        <a asp-action="Create">Criar Nova</a>
    </p>
}


    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                @if (User.IsInRole("Admin") || User.IsInRole("Gestor") || item.Visivel.Equals(true))
                {
                    <tr>
                        @foreach (var img in item.ListaNI)
                        {

                            <td width="300">
                                <img src="~/Imagens/@img.Imagens.Nome" alt="fotografia de @img.Imagens.Nome " title="@img.Imagens.Nome" height="300" />
                            </td>
                        }


                        <td>
                            <p align="center" style="font-size: large;color:brown;font-weight:bold"> @Html.DisplayFor(modelItem => item.Titulo)</p>
                            <br />
                            @Html.DisplayFor(modelItem => item.Resumo)
                            <br />


                            @if (User.IsInRole("Admin") || User.IsInRole("Gestor"))
                            {

                                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>

                                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>

                                <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>

                            }
                            else
                            {

                                <a asp-action="Details" asp-route-id="@item.Id">Continuar a ler...</a>



                            }
                        </td>
                    </tr>
                }
            }
            </tbody>
    </table>
