@model IEnumerable<Noticia.Models.NT>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Noticias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topicos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Noticias.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topicos.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { notic = item.Noticiasid, topic = item.Topicosid })) |
                @Html.ActionLink("Details", "Details", new { notic = item.Noticiasid, topic = item.Topicosid })) |
                @Html.ActionLink("Delete", "Delete", new { notic = item.Noticiasid, topic = item.Topicosid })}
               
            </td>
        </tr>
}
    </tbody>
</table>
